html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    font-family:Arial,sans-serif;
    direction:rtl;
    background:#3075be;
    text-align:center;
    padding-top:130px;
}

h1{
    background:#0b5ed7;
    color:white;
    margin:0;
    padding:20px;
    font-size:36px;
}

nav{
    position:fixed;
    top:0;
    right:0;
    width:100%;
    background:#003b8e;
    display:flex;
    justify-content:center;
    gap:25px;
    padding:18px;
    z-index:1000;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:yellow;
}

img{
    display:block;
    margin:30px auto;
    width:80%;
    max-width:1000px;
    border-radius:10px;
}

section{
    width:85%;
    margin:40px auto;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
    min-height:350px;
}

h2{
    color:#0b5ed7;
}

p,li{
    font-size:20px;
    line-height:2;
}

ul{
    list-style:none;
    padding:0;
}

footer{
    background:#003b8e;
    color:white;
    padding:20px;
    margin-top:40px;
}

.gallery{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.gallery img{
    width:300px;
    height:200px;
    object-fit:cover;
    border-radius:12px;
    box-shadow:0 0 8px rgba(0,0,0,.25);
    transition:.4s;
}

.gallery img:hover{
    transform:scale(1.08);
}

.news-bar{
    background:#FFD700;
    color:#003b8e;
    font-size:22px;
    font-weight:bold;
    padding:12px;
    margin-top:65px;
    border-top:3px solid #003b8e;
    border-bottom:3px solid #003b8e;
}

.section-img{
    width:70%;
    max-width:700px;
    height:320px;
    object-fit:cover;
    display:block;
    margin:20px auto;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.25);
    transition:.4s;
}

.section-img:hover{
    transform:scale(1.03);
}


.section-img{
    width:320px;
    height:auto;
    display:block;
    margin:25px auto;
    border:5px solid #0b5ed7;
    border-radius:15px;
    box-shadow:0 6px 15px rgba(0,0,0,.25);
    transition:0.3s;
}

.section-img:hover{
    transform:scale(1.05);
}
